<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>installerSigningCertificate</key>
	<string>21629D55588048FD1035438CD7BDD6AADD3825B9</string>
	<key>manageAppVersionAndBuildNumber</key>
	<false/>
	<key>method</key>
	<string>app-store-connect</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.hotseason.aquahunter</key>
		<string>AquaHunter Mac App Store 2026 v1.1 Local Key</string>
	</dict>
	<key>signingCertificate</key>
	<string>5C00D335613EF32D81A7BF453BEFE4D007C91A05</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>C8Y5J74PQW</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
